Repository luiz504/react-clean-tdd-solid: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{js,mjs,json,html,css}": ["prettier --write"],
  "*.{ts,tsx,mts}": ["eslint --fix --max-warnings=0"]
}

test: ensure Surveys page present error on UnexpectedError
  src/main/__test__/cypress/integration/surveys/mocks.ts
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
  src/main/__test__/cypress/support/helpers.ts
Due: eslint --fix --max-warnings=0

test: ensure Surveys page logout and redirect to sign-in on AccessDeniedError
  src/main/__test__/cypress/integration/surveys/mocks.ts
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
Due: eslint --fix --max-warnings=0

test: ensure Surveys logout on click on logout button
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
Due: eslint --fix --max-warnings=0

refactor: organizer mocks and config fixtures
  cypress.config.ts
  src/data/use-cases/fetch-surveys/remote-fetch-surveys.ts
  src/main/__test__/cypress/fixtures/fx:account.json
  src/main/__test__/cypress/fixtures/fx:invalid-account.json
  src/main/__test__/cypress/helpers/helpers.ts
  src/main/__test__/cypress/helpers/http-mocks.ts
  src/main/__test__/cypress/integration/private-route.spec.ts
  src/main/__test__/cypress/integration/sign-in/mocks.ts
  src/main/__test__/cypress/integration/sign-in/sign-in.spec.ts
  src/main/__test__/cypress/integration/sing-up/mocks.ts
  src/main/__test__/cypress/integration/sing-up/sign-up.spec.ts
  src/main/__test__/cypress/integration/surveys/mocks.ts
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
  src/main/__test__/cypress/support/http-mocks.ts
Due: prettier --write, eslint --fix --max-warnings=0

test: ensure Surveys presents correctly the surveys cards
  src/main/__test__/cypress/fixtures/fx:surveys.json
  src/main/__test__/cypress/integration/surveys/mocks.ts
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
  src/presentation/pages/Surveys/components/survey-card.tsx
Due: prettier --write, eslint --fix --max-warnings=0

refactor: change ErrorFeedBack to english texts
  src/presentation/pages/Surveys/components/error-feedback.tsx
Due: eslint --fix --max-warnings=0

test: ensure Surveys UnexpectedError in able to retry
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
Due: eslint --fix --max-warnings=0

refactor: adjust mouth case
  src/main/__test__/cypress/integration/surveys/surveys.spec.ts
  src/presentation/pages/Surveys/components/survey-card.spec.tsx
  src/presentation/pages/Surveys/components/survey-card.tsx
Due: eslint --fix --max-warnings=0

chore: update libs
  package-lock.json
  package.json
Due: prettier --write

style: update fav icon
  index.html
  public/favicon.png
  public/vite.svg
Due: prettier --write

fix: sign-in integration test calling real api
  src/main/__test__/cypress/integration/sign-in/sign-in.spec.ts
Due: eslint --fix --max-warnings=0

fix: sign-up integration test calling real api
  src/main/__test__/cypress/integration/sing-up/sign-up.spec.ts
Due: eslint --fix --max-warnings=0

chore: implementation cypress ci
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml
  .husky/pre-push
  package.json
Due: prettier --write

fix: new eslint rules and errors
  .eslintrc.json
  src/main/adapters/current-account-adapter.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: surveys unity testing
  src/presentation/pages/Surveys/Surveys.spec.tsx
Due: eslint --fix --max-warnings=0

chore: adjust ci
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml
Due: none

chore: adjust ci
  .github/workflows/ci-main.yml
Due: none

chore: using cypress io default browser
  .github/workflows/ci-main.yml
Due: none

chore: defining test envs
  .env.test
  .github/workflows/ci-main.yml
Due: none

chore: clean up yml
  .github/workflows/ci-main.yml
Due: none

chore: rollback
  .env.test
  .github/workflows/ci-main.yml
Due: none
